[submodule "public"]
	path = public
	url = https://github.com/flogruber/flogruber.github.io.git
	branch = master
[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/flogruber/KeepIt.git
	branch = master
